.main-content {

padding-top: 50px;

}


p {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  background: #d3d3d3;
  border: 1px solid black;
  padding: 10px;
  position:relative;
  text-align: left;

}

div.foodsection span {
	display:block;
    width:100px;
    height: 100%;
    margin: 0 auto;
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 10px;
}

